table.userInfo {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.userInfo thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #000000;
    background: #d2f4ec;
    margin: 20px 10px;
}
table.userInfo tbody th {
    width: 100px;
    padding: 10px;
}
table.userInfo td {
    width: 300px;
    padding: 10px;
    vertical-align: top;
}
table.userInfo .even {
    background: #fdf3f5;
}

table.userInfo btn{
    position: relative;

}